.faq-hero {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.faq-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.fq-header {
  text-align: center;
  color: var(--hc);
}

.fq-p {
  text-align: center;
}

.faq-img {
  max-width: 100%;
}

/*  tab*/
@media (min-width: 768px) {
  .faq-hero {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
  }

  .faq-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10rem;
  }

  .fq-header {
    text-align: left;
    color: var(--hc);
  }

  .fq-p {
    text-align: left;
    font-size: var(--fs2);
    max-width: 800px;
  }
}

/* 1024 */
@media (min-width: 1024px) {
  .faq-hero {
    padding: 3rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
  }

  .faq-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 20rem;
  }

  .fq-header {
    text-align: left;
    color: var(--hc);
  }

  .fq-p {
    text-align: left;
    font-size: var(--fs2);
    max-width: 800px;
  }
}

/* 1440 */
@media (min-width: 1440px) {
  .faq-hero {
    padding: 3rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
  }

  .faq-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 20rem;
  }

  .fq-header {
    text-align: left;
    color: var(--hc);
  }
}

/* 1800*/
@media (min-width: 1800px) {
  .faq-hero {
    padding: 3rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
  }

  .faq-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 30rem;
  }
}
