<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- css -->
    <link rel="stylesheet" href="/css/utilities/base.css" />
    <link rel="stylesheet" href="/css/utilities/utilities.css" />
    <link rel="stylesheet" href="/css/utilities/variables.css" />

    <link rel="stylesheet" href="/components/comp_css/footer.css" />
  </head>
  <body>
    <footer>
      <div class="foot-sec1">
        <div class="col1">
          <a href="home.html">
            <img src="/assets/Sample Logo.png" alt="" />
          </a>

          <p>Top learning experiences that create more talent in the world.</p>
        </div>

        <div class="col2">
          <h2>Links</h2>
          <a href="">About us</a>
          <a href="">Programs</a>
          <a href="">Contact</a>
          <a href="">FAQs</a>
        </div>

        <div class="col3">
          <h2>Socials</h2>
          <a href="">Twitter</a>
          <a href="">Linkedin</a>
          <a href="">Facebook</a>
        </div>

        <div class="col4">
          <h2>Legal</h2>
          <a href="">Terms</a>
          <a href="">Privacy</a>
        </div>
      </div>

      <hr />

      <div class="foot-sec2">
        <div class="lefty">
          <p>© 2023 Orralearn. All rights reserved.</p>
        </div>

        <div class="righty">
          <a href=""><img src="/assets/Duotone/Social icont.png" alt="" /></a>
          <a href=""><img src="/assets/Duotone/Social icon2.png" alt="" /></a>
          <a href=""><img src="/assets/Duotone/Social icon3.png" alt="" /></a>
          <a href=""><img src="/assets/Duotone/Social icon4.png" alt="" /></a>
          <a href=""><img src="/assets/Duotone/Social icon5.png" alt="" /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
