<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav</title>

    <!-- cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- google icon -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- css -->
    <link rel="stylesheet" href="/css/utilities/base.css" />
    <link rel="stylesheet" href="/css/utilities/utilities.css" />
    <link rel="stylesheet" href="/css/utilities/variables.css" />

    <link rel="stylesheet" href="/components/comp_css/nav.css" />
  </head>
  <body>
    <nav class="mynav-bar">
      <!-- logo -->
      <div class="navlogo">
        <a href="/html/home.html">
          <img src="/assets/DEVX.svg" class="logo-img" />
        </a>
      </div>

      <!-- desktop links -->
      <div class="nav-items">
        <a href="/html/home.html">Home</a>
        <a href="/html/programs.html">Our Program</a>
        <a href="/html/tpu.html">Why TPU</a>
        <a href="/html/community.html">Community</a>
        <a href="/html/contact.html">Contact Us</a>
        <a href="/html/faq.html">FAQ</a>
      </div>

      <!-- buttons -->
      <div class="nav-buttons">
        <a href="/html/signIn.html" class="nav-btn">Sign in</a>
        <a href="/html/signUp.html" class="nav-btn-primary">Sign up</a>
      </div>

      <!-- hamburger -->
      <button class="mobile-buttons">
        <i class="fa-solid fa-bars"></i>
      </button>
    </nav>

    <!-- MOBILE SIDEBAR -->
    <div class="mobile-sidebar">
      <button class="close-sidebar">
        <i class="fa-solid fa-xmark"></i>
      </button>

      <a href="/html/home.html">Home</a>
      <a href="/html/programs.html">Our Program</a>
      <a href="/html/tpu.html">Why TPU</a>
      <a href="/html/community.html">Community</a>
      <a href="/html/contact.html">Contact Us</a>
      <a href="/html/faq.html">FAQ</a>

      <a href="/html/signIn.html" class="nav-btn">Sign in</a>
      <a href="/html/signUp.html" class="nav-btn-primary">Sign up</a>
    </div>

    <script src="/components/comp_js/nav.js"></script>
  </body>
</html>
