.contact-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 3rem;
  background-color: var(--bg1);
  margin-top: 4rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.mc-heading {
  color: var(--hc);
  text-align: center;
}

.mc-p {
  font-size: var(--fs1);
  text-align: center;
}

.mc-btn {
  background-color: black;
  color: white;
  font-size: var(--fs1);
  padding: 1rem 1.2rem;
  border-radius: 24px;
}

.mc-btn:hover,
.mc-btn:active {
  background-color: white;
  color: black;
  border: 1px solid black;
}

@media (min-width: 768px) {
  .contact-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 3rem;
    background-color: var(--bg1);
  }

  .mc-p {
    font-size: var(--fs1);
    text-align: center;
    max-width: 500px;
  }
}

/* 1024 */
@media (min-width: 1024px) {
  .mc-p {
    font-size: var(--fs1);
    text-align: left;
    max-width: 500px;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800*/
@media (min-width: 1800px) {
  .contact-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 3rem;
    background-color: var(--bg1);
  }
}
