.programs-main {
  background-color: var(--bg1);
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.program-main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 6rem;
}

.prog-main-heading {
  text-align: center;
  color: var(--hc);
}

.prog-main-text {
  text-align: center;
}

/* grid */
.main-grid-container {
  display: grid;
  gap: 2rem;
}

.program-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: start;
  border: 1px solid var(--tc);
  padding: 2rem 3rem;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

.program-box:active {
  box-shadow: 0rem 2rem 3rem rgba(207, 12, 158, 0.582);
  border: 2px solid var(--bg2);
}

.pb-header {
  font-size: var(--fs3);
  color: var(--hc);
}
.pb-text {
  font-size: var(--fs2);
}

.pb-btn {
  color: var(--hc);
  font-size: var(--fs2);
}

/*  tab*/
@media (min-width: 768px) {
  /* grid */
  .main-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .program-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: start;
    border: 1px solid var(--tc);
    padding: 2rem 1rem;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
  }

  .program-box:active {
    box-shadow: 0rem 2rem 3rem rgba(207, 12, 158, 0.582);
    border: 2px solid var(--bg2);
  }

  .pb-text {
    font-size: var(--fs1);
  }
}

/* 1024 */
@media (min-width: 1024px) {
  /* grid */
  .main-grid-container {
    padding: 2rem 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .program-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: start;
    border: 1px solid var(--tc);
    padding: 2rem 2rem;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
  }

  .program-box:hover,
  .program-box:active {
    box-shadow: 0rem 2rem 3rem rgba(207, 12, 158, 0.582);
    border: 2px solid var(--bg2);
  }

  .pb-text {
    font-size: 12px;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800*/
@media (min-width: 1800px) {
  .main-grid-container {
    padding: 2rem 16rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .program-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    align-items: start;
    border: 1px solid var(--tc);
    padding: 2rem 4rem;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
  }

  .program-box:hover,
  .program-box:active {
    box-shadow: 0rem 2rem 3rem rgba(207, 12, 158, 0.582);
    border: 2px solid var(--bg2);
  }

  .pb-text {
    font-size: 16px;
  }
}
