/* resets and defaults  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff1);
  color: var(--tc);
  font-size: var(--fs3);
}

image {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--tcb);
}

li {
  list-style: none;
  font-size: var(--fs3);
}
