/* variables for reuseability */

:root {
  /* color */
  --tc: #555555;
  --hc: #0d0b32;
  --tcb: #000000;
  --tcp: #5e00d0;
  --tcw: #ffffff;

  /* typograpgy */
  --fs1: 1.6rem;
  --fs2: 1.8rem;
  --fs3: 2.4rem;
  --fs4: 4.5rem;
  --fs5: 7.5rem;

  /* font-family */
  --ff1: "PT Sans", sans-serif;
  --ff2: "Nunito", san-serif;

  /* backgeoud colors */
  --bgn: #f8f3fd;
  --bg1: #f7f0ff;
  --bg2: #60269e;
  --bg3: #f8f3fd;
  --bg4: #101828;
}
