/* mobile */
article {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.apart-heading {
  color: var(--hc);
  margin-bottom: 3rem;
}

.article-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--bg1);
  border-radius: 8px;
  position: relative;
}
.article-img {
  margin-bottom: 2rem;
}
.article-sub-head {
  color: var(--hc);
  text-align: center;
  margin-bottom: 2rem;
}

.article-text {
  text-align: center;
}

.left-a,
.right-b {
  max-width: 80px;
}

.left-a {
  position: absolute;
  bottom: 220px;
  left: -30px;
}

.right-b {
  position: absolute;
  bottom: 220px;
  right: -30px;
}

/* tab */
@media (min-width: 768px) {
  article {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-a,
  .right-b {
    max-width: 100px;
  }

  .left-a {
    position: absolute;
    top: 80px;
    left: -32px;
  }

  .right-b {
    position: absolute;
    top: 80px;
    right: -32px;
  }
}

/* 1024 */
@media (min-width: 1024px) {
  article {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-a {
    position: absolute;
    top: 50px;
    left: -40px;
  }

  .right-b {
    position: absolute;
    top: 50px;
    right: -40px;
  }

  .article-text {
    text-align: center;

    max-width: 800px;
  }
}

/* 1440 */
@media (min-width: 1440px) {
  .left-a {
    position: absolute;
    top: 50px;
    left: -40px;
  }

  .right-b {
    position: absolute;
    top: 50px;
    right: -40px;
  }
}

/* 1700 */
@media (min-width: 1700px) {
  .article-text-container {
    padding: 6rem;
  }

  .left-a {
    position: absolute;
    top: 50px;
    left: -42px;
  }

  .right-b {
    position: absolute;
    top: 50px;
    right: -42px;
  }
}
