/* home page imports */
@import url("/css/home/nav.css");
@import url("/css/home/hero_section.css");

/* header */
header {
  padding: 0.4rem;
}

/*  tab*/
@media (min-width: 768px) {
  header {
    padding: 1rem;
  }
}

/* 1024 */
@media (min-width: 1024px) {
}

/* 1440 */
@media (min-width: 1440px) {
}
