/* home page imports */
@import url("/css/home/nav.css");
@import url("/css/home/hero_section.css");
@import url("/css/home/main.css");
@import url("/css/home/story.css");
@import url("/css/home/apart-section.css");
@import url("/css/home/join_us.css");
@import url("/css/home/mentor_section.css");
@import url("/css/home/footer.css");

/* header */
header {
  padding: 0.4rem;
}

/*  tab*/
@media (min-width: 768px) {
  header {
    padding: 0rem;
  }
}

/* 1024 */
@media (min-width: 1024px) {
}

/* 1440 */
@media (min-width: 1440px) {
}
