/* mobile */
main {
  padding: 3rem;
  margin-top: 4rem;
  background-color: var(--bg1);
}

.achievement-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.achievement-header {
  text-align: center;
  color: var(--hc);
  letter-spacing: -1px;
  max-width: 1400px;
  margin-bottom: 5rem;
}

.achievement-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.ac-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.ac-stat {
  text-align: center;
  color: var(--tcb);
}

.ac-stat-w {
  text-align: center;
  color: var(--tcp);
}

/* tab */
@media (min-width: 768px) {
  .achievement-header {
    text-align: center;
    color: var(--hc);
    letter-spacing: -1px;
    max-width: 1400px;
    margin-bottom: 5rem;
  }

  .achievement-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
  }

  .ac-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .ac-text-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .ac-stat {
    text-align: center;
    color: var(--tcb);
    font-size: var(--ff2);
  }

  .ac-stat-w {
    text-align: center;
    color: var(--tcp);
    font-size: 1.4rem;
  }
}

/* 1024 */
@media (min-width: 1024px) {
  .achievement-header {
    text-align: center;
    color: var(--hc);
    letter-spacing: -1px;
    max-width: 1400px;
    margin-bottom: 5rem;
  }

  .achievement-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8rem;
  }

  .ac-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .ac-text-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .ac-stat {
    text-align: center;
    color: var(--tcb);
    font-size: var(--ff2);
  }

  .ac-stat-w {
    text-align: center;
    color: var(--tcp);
    font-size: 1.4rem;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1700 */
@media (min-width: 1700px) {
}
