/* MOBILE FIRST */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgn);
  padding: 1rem;
}

.nav-logo img {
  width: 50px;
}

.nav-items,
.nav-buttons {
  display: none;
  font-family: var(--ff2);
}

.mobile-buttons {
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

/* SIDEBAR */
.mobile-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  max-width: 320px;
  height: 100vh;
  background: var(--bgn);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  transition: right 0.3s ease;
  z-index: 1000;
}

.mobile-sidebar.active {
  right: 0;
}

.close-sidebar {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

/* DESKTOP */
@media (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bgn);
    padding: 1rem;
    gap: 2rem;
  }

  .navlogo {
    margin-left: 1rem;
  }

  .nav-items,
  .nav-buttons {
    display: flex;
    gap: 2rem;
    font-family: var(--ff2);
    font-size: var(--fs1);
  }

  .nav-buttons {
    display: flex;
    gap: 2rem;
    visibility: visible;
    font-size: var(--fs1);
    margin-left: 2rem;
  }

  .mobile-buttons,
  .mobile-sidebar {
    display: none;
  }
}
