.in-nav {
  background-color: var(--bg2);
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/*  tab*/
@media (min-width: 768px) {
}

/* 1024 */
@media (min-width: 1024px) {
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800*/
@media (min-width: 1800px) {
}
