body {
  background-color: var(--bg1);
}

.in-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: var(--bg1);
}

.card {
  background-color: white;
  width: 30rem;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid var(--tc);
}

.signup-form {
  margin-bottom: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.f-header {
  text-align: center;
  color: var(--hc);
  margin-bottom: 2rem;
}

.f-sub {
  text-align: center;
  margin-bottom: 2rem;
}

.google-btn {
  padding: 1rem 1.4rem;
  font-size: 14px;
  border: 1px solid var(--tc);
  border-radius: 14px;
  display: block;
  margin-bottom: 1rem;
}
.google-btn:active,
.google-btn:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.small-span {
  font-size: 10px;
  display: block;
}

.google-img {
  max-width: 12px;
  margin-right: 2rem;
}
.google-img {
  max-width: 12px;
  margin-right: 2rem;
}

label {
  font-size: 18px;
  margin-bottom: 1rem;
}

input {
  padding: 1rem 1.5rem;
  border-radius: 12px;
}

.name-box,
.mail-box,
.password-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-btn {
  background-color: var(--bg2);
  padding: 1rem 1.2rem;
  color: white;
  border-radius: 14px;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.form-btn:active,
.form-btn:hover {
  background-color: var(--bg1);
  border: 1px solid var(--hc);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  color: var(--hc);
}

.ff-small {
  font-size: 10px;
  letter-spacing: -0px;
}

.forget {
  margin-bottom: 2rem;
}

.fff-p {
  font-size: 12px;
  margin-left: 3rem;
  color: var(--tcp);
}

.s-t {
  margin-top: 2rem;
  font-size: 12px;
  margin-bottom: 1rem;
}

.l-t {
  font-size: 10px;
  color: var(--tcp);
}

/*  tab*/
@media (min-width: 768px) {
  .in-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: var(--bg1);
  }

  .card {
    background-color: white;
    width: 70rem;
    padding: 5rem 10rem;
    border-radius: 16px;
    border: 1px solid var(--tc);
    margin: 10rem auto;
  }

  .signup-form {
    margin-bottom: 2rem;
  }

  .box {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .f-header {
    text-align: center;
    color: var(--hc);
    margin-bottom: 2rem;
  }

  .f-sub {
    text-align: center;
    margin-bottom: 2rem;
  }

  .google-btn {
    padding: 1rem 1.4rem;
    font-size: 14px;
    border: 1px solid var(--tc);
    border-radius: 14px;
    display: block;
    margin-bottom: 1rem;

    margin-bottom: 1rem;
    text-align: center;
  }
  .google-btn:active,
  .google-btn:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  .small-span {
    font-size: 10px;
    display: block;
  }

  .google-img {
    max-width: 12px;
    margin-right: 2rem;
  }
  .google-img {
    max-width: 12px;
    margin-right: 2rem;
  }

  label {
    font-size: 18px;
    margin-bottom: 1rem;
  }

  input {
    padding: 1rem 1.5rem;
    border-radius: 12px;
  }

  .mail-box,
  .password-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .form-btn {
    background-color: var(--bg2);
    padding: 1rem 1.2rem;
    color: white;
    border-radius: 14px;
    margin-bottom: 4rem;
    display: block;
    text-align: center;
    margin-top: 2rem;
  }

  .form-btn:active,
  .form-btn:hover {
    background-color: var(--bg1);
    border: 1px solid var(--hc);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    color: var(--hc);
  }

  .ff-small {
    font-size: 10px;
    letter-spacing: -0px;
  }

  .forget {
    margin-bottom: 2rem;
  }

  .fff-p {
    color: var(--tcp);
    font-size: 12px;
    margin-left: 25rem;
  }

  .s-t {
    margin-top: 2rem;
    font-size: 12px;
    margin-bottom: 1rem;
    text-align: center;
  }

  .l-t {
    font-size: 10px;
    color: var(--tcp);
    text-align: center;
  }

  .ff-small {
    text-align: center;
  }
}

/* 1024 */
@media (min-width: 1024px) {
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800*/
@media (min-width: 1800px) {
}
